/* Universal Styles */

html {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  color: #666666;
}

/* Header */

header {
  height: 4rem;
  background-color: blue;
}

nav .container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav div {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.menu ul{
  display: inline-flex;
  align-items: center;
  flex
}



.logo {
  height: 2rem;
}

/* Banner */

.banner {
  height: 30rem;
  background-color: #d2d2d2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.banner img {
  
}



/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}
