/* Universal Styles */

html {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  color: #404040;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  padding: 2rem 0;
}

h3 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

h5 {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.section-title {
  text-align: center;
  padding-top: 2rem;
}

.mobile {
  display: none;
}

/* media query for desktop view - hides mobile only elements*/

@media only screen and (max-width: 480px) {

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

}

/* Flex Container Format - Used for Information and Thesis Sections */

.flex-container {
  display: inline-flex;
  justify-content: center;
  align-items: stretch;
  padding: 0 1.5rem;
}

.flex-main {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 2rem 1.5rem 2rem 0;

}

.flex-main img,
.flex-main video {
  width: 100%;
}

.flex-main-text {
  display: flex;
  flex-direction: column;
}

.flex-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  align-self: stretch;
  padding: 1rem 0 2rem 0;
}

.flex-bit {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-bit:hover {
  background-color: #d2d2d2;
}

.flex-bit:hover > .flex-bit-text a {
  text-decoration: underline;
}

.flex-bit img {
  padding: 1rem 0 1rem 1rem;
  width: 35%;
  height: auto;
}

.flex-bit-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding: 0 1rem 0 1rem;
}

.flex-bit-text a {
  color: #3f87cd;
}

@media only screen and (max-width: 480px) {

  .flex-container {
    display: block;
    padding: 0 1.5rem;
  }

  .flex-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 1.5rem 2rem 0;
  }
  
  #info-section .flex-main {
    display: none;
  }

  .flex-main-text {
    display: none;
  }

  .flex-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-self: stretch;
    padding: 1rem 0 2rem 0;
  }


  .flex-bit {
    display: inline-block;
  }

  .flex-bit img {
    width: 100%;
    height: auto;
  }

  .flex-bit-text {
    display: inline-block;
    width: 100%%;
    padding: 0 1rem 0 1rem;
  }



}


/* Info Section Formatting Desktop Only */

#info-section .flex-main {
    border-right: 2px solid #d2d2d2;
}

/* Thesis Section only formatting */

/* Header */

nav {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  width: 100%;
  background-color: white;
}

nav div {
  display: flex;
  align-items: center;
}

.logo {
  height: 2rem;
  padding-left: 1.5rem;
}

#name {
  font-size: 1.5rem;
}

#name strong{
  font-weight: bold;
}

nav ul {
  margin-right: 1.5rem;
}

nav li {
  display: inline-block;
  padding: .75rem 1rem;
  border-radius: 0.9rem;
}

nav li:hover {
  background-color: #cd853f;
  transition: background-color 250ms ease;
}

nav li:active {
  background-color: #d89f67;
  color: white;
}

.logo {
  height: 2rem;
}

@media only screen and (max-width:480px) {
  nav ul .mobile {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

}


/* Banner */

.banner {
  background-color: #d2d2d2;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.banner img {
  width: 60%;
  padding: 2rem 1.5rem;
}

.banner .text-container {
  width: 30%;
}

.banner h1 {
  padding: 2rem 0;
}

.banner h3 {
  padding-bottom: 1.5rem;
}

.button {
  color: white;
  background-color: #404040;
  padding: 8px 0;
  width: 100%;
  text-align: center;

}

.button:hover {
  background-color: #cd853f;
}

@media only screen and (max-width: 480px) {
  .banner {
    display: flex;
    flex-direction: column;
  }

  .banner img {
    width: 100%;
    padding: 0 0;
  }

  .banner .text-container {
    width: 100%;
    display: inline-block;
  }

  .banner h1 {
    padding: 2rem 1rem;
  }

  .banner h3 {
    padding-bottom: 1.5rem;
    padding-left: 1rem;
  }

  .button {
    width: calc(100% - 2rem);
    margin: 0 1rem 2rem 1rem;
    background-color: #666666;
    font-weight: 700;
  }

}


/* Course Section */

.course-section{
  width: 100%;
  background-color: #d2d2d2;
}

.course-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: space-around;
  flex-flow: row wrap;
  padding: 2rem 4.5rem;
}

.course-child {
  flex-basis: 30%;
  background-color: white;
  margin: 0 2rem;
}

.course-child:hover{
  box-shadow: 10px 10px 5px grey;
}

.course-child img {
  width: 100%;
}

.course-info {
  padding: 1rem 1rem 1.5rem 1rem;
}

.course-info h4 {
  padding: 0.5rem 0;

}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 1rem 1.5rem 2rem 1.5rem;
  font-size: 0.8rem;
}

footer a{
  padding: 0rem 0.5rem;
}

footer a:hover{
  color: grey;
  text-decoration: underline;
}

footer a:active{
  text-shadow: 2px 2px 8px #d2d2d2;
}
